/build/
/cmake-build-*/

.clangd

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
*.ninja
.ninja_*
compile_commands.json

external/**/CMakeFiles/
external/**/CMakeCache.txt
external/**/cmake_install.cmake
external/**/Makefile

/external/**

/external/sponza/
/external/sponza_intel/

*.o
*.obj
*.a
*.so
*.so.*
*.dylib
*.dll
*.exe
*.pdb

*.spv
*.fsl

imgui.ini
*.log
*.trace
*.prof

/.cache/
/.docs/
.vscode/.browse.VC.db*
.vscode/ipch/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db
